{% extends "base.html" %}

{% block content %}

<!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Ready for Swift Deliveries? Experience the Future with VeloceAir Express. Ship Now!</p>
          <a class="cta-btn" href="/help_contact">Call To Action</a>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->
{% endblock %}