{% extends "base.html" %}

{% block title %}Contact - VeloceAir Express{% endblock %}

{% block content %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Reach out to us for any inquiries or information. We're here to help you with top-notch services and support.
        Feel free to contact us through the following channels:</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i class="bx bx-map"></i>
          <h3>Our Address</h3>
          <p>A108 Jade Street, Inthira Square 43200, Kuala Lumpur</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-envelope"></i>
          <h3>Email Us</h3>
          <p>veloceairexpress@gmail.com</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-phone-call"></i>
          <h3>Call Us</h3>
          <p>+60 11-1054088</p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6">
        <iframe class="mb-4 mb-lg-0"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d101.6552451!3d2.9263607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb63d8b4c9639:0xd9402dc0eacc8554!2s%E5%B8%83%E7%89%B9%E6%8B%89%E5%B9%BF%E5%9C%BA+Presint+1,+62000+Putrajaya,+Wilayah+Persekutuan+Putrajaya!5e0!3m2!1sen!2smy!4v1602700795825"
          frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
{% endblock %}