{% extends "base.html" %}

{% block title %}Hobby Page - VeloceAir Express{% endblock %}

{% block content %}

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>What Our Customers Say.</h2>
      <p>Discover the firsthand experiences of our satisfied customers and the exceptional drone delivery services
        they've received on our Hobby Page – where their stories and glowing testimonials come to life!</p>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              It's refreshing to see a company actively involved in the community. VeloceAir Express's commitment to
              local drone events and educational initiatives is impressive. They go beyond just deliveries – they're
              making a positive impact in the drone community.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Raymond Teo</h3>
            <h4>Kajang, Selangor</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              In the healthcare industry, timely deliveries are crucial. VeloceAir Express understands the importance of
              medical transport. Their adherence to regulations and swift deliveries have been vital for our operations.
              Highly recommended!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Dr. Rodriguez</h3>
            <h4>Putrajaya, Kuala Lumpur</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              VeloceAir Express not only delivers parcels but also captures breathtaking aerial shots. The drone
              photography service added a unique perspective to our event, and the results were stunning!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jenny Karlis</h3>
            <h4>Serdang, Selangor</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              VeloceAir Express has been a game-changer for our local business. Their last-mile delivery solutions are
              not only affordable but also eco-friendly, aligning perfectly with our values. Collaborating with them has
              enhanced our overall operations.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Mathew Brandon</h3>
            <h4>Shah Alam, Selangor</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I needed to send an important package across the city urgently, and VeloceAir Express came through for me.
              Their express parcel delivery service is truly reliable, and the real-time tracking gave me peace of mind.
              A top-notch service that I'll use again!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Lee</h3>
            <h4>Putrajaya, Kuala Lumpur</h4>



          </div>
</section><!-- End Testimonials Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Our Team</h2>
      <p>Meet the talented individuals who drive the success of VeloceAir Express.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up">
          <div class="pic"><img src="static/img/team/team1.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>William Ng</h4>
            <span>CEO & Founder</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="150">
          <div class="pic"><img src="static/img/team/team2.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Tonny Tang</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="pic"><img src="static/img/team/team3.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Vicky Choong</h4>
            <span>Chief Operating Officer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="pic"><img src="static/img/team/team4.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Wong Li Ying</h4>
            <span>Marketing Manager</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

{% endblock %}