{% extends "base.html" %}

{% block title %}Portfolio - VeloceAir Express{% endblock %}

{% block content %}


<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Portfolio</h2>
      <p>Explore our diverse range of successful drone delivery projects that showcase the innovation and reliability of
        VeloceAir Express. From express parcel deliveries to specialized medical transport services, each project
        reflects our commitment to excellence and cutting-edge technology. Discover how we have transformed traditional
        logistics, providing fast, eco-friendly, and secure solutions for businesses and individuals alike.</p>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-express">Express Parcel Delivery</li>
          <li data-filter=".filter-customized">Customized Logistics Solutions</li>
          <li data-filter=".filter-medical">Medical Transport Services</li>
          <li data-filter=".filter-local">Local Business Support</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up">

      <div class="col-lg-3 col-md-6 portfolio-item filter-express">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/swiftshipment.jpg" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/swiftshipment.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Swift Shipments:</strong> Fast and efficient shipping solutions for timely deliveries."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-medical">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/pharmafly.jpg" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/pharmafly.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>PharmaFly Express:</strong> Specialized express delivery for pharmaceutical and healthcare products."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-local">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/localbizdelivery.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/localbizdelivery.webp" data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              title="<strong>Local Biz Delivery:</strong> Delivery services tailored to support local businesses."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-express">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/rapiddispatch.jpg" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/rapiddispatch.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Rapid Dispatch:</strong> Quick handling and dispatch of parcels to ensure speedy transportation."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>



      <div class="col-lg-3 col-md-6 portfolio-item filter-customized">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/tailoredroutes.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/tailoredroutes.webp" data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              title="<strong>Tailored Routes:</strong> Customized delivery routes to meet specific client requirements."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-medical">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/healthcare.jpeg" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/healthcare.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Healthcare Drones:</strong> Cutting-edge drone technology for efficient healthcare transport."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-customized">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/flexibleoperations.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/flexibleoperations.webp" data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              title="<strong>Flexible Operations:</strong> Adaptable logistics operations for varying business needs."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-local">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/smallbiz.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/smallbiz.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Small Biz Express:</strong> Express services designed to meet the specific needs of small businesses."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-express">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/instantdelivery.jpg" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/instantdelivery.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              title="<strong>Instant Delivery:</strong> Immediate dispatch and delivery services for urgent shipments."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-customized">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/personaliselogistic.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/personaliselogistic.webp" data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              title="<strong>Personalized Logistics:</strong> Tailored logistics services personalized to individual client preferences."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-medical">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/medicalswift.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/medicalswift.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Medical Swift:</strong> Swift and secure medical transport services for critical supplies."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-customized">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/customservice.avif" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/customservice.avif" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Custom Service:</strong> Customized service solutions catering to unique logistical challenges."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-medical">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/emergencyresponse.jpg" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/emergencyresponse.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              title="<strong>Emergency Response:</strong> Rapid response services for urgent medical transportation needs."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-local">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/greenroutes.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/greenroutes.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Green Route Services:</strong> Sustainable and eco-friendly delivery routes for environmental consciousness."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-local">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/neighbourdrops.webp" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/neighbourdrops.webp" data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              title="<strong>Neighborhood Drops:</strong> Targeted drop-off services within local neighborhoods to enhance community support."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-express">
        <div class="portfolio-wrap">
          <img src="static/img/portfolio/quickcourier.jpeg" class="img-fluid equal-height" alt="">
          <div class="portfolio-links">
            <a href="static/img/portfolio/quickcourier.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="<strong>Quick Courier:</strong> Expedited courier services designed for prompt and reliable deliveries."><i class="bx bx-plus"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Portfolio Section -->


{% endblock %}