{% extends "base.html" %}

{% block title %}Service - VeloceAir Express{% endblock %}

{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Services</h2>
      <p>Explore a world of possibilities with our tailored services that prioritize your needs. At VeloceAir Express,
        we're committed to delivering excellence in every aspect. Let us be your partner in success.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="/portfolio">Express Parcel Delivery</a></h4>
          <p class="description">Swift and secure express parcel delivery services tailored to meet your urgent shipping
            needs. Our efficient logistics ensure timely and reliable delivery, making us your trusted partner for
            express shipments.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="/portfolio">Customized Logistics Solutions</a></h4>
          <p class="description">Unlock seamless operations with our customized logistics solutions. From supply chain
            optimization to tailored transportation strategies, we craft solutions that align with your business goals,
            ensuring efficiency and cost-effectiveness.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="/portfolio">Medical Transport Services</a></h4>
          <p class="description">Dedicated to health and care, our medical transport services provide safe and
            compassionate transportation for patients, medical equipment, and supplies. With a focus on reliability, we
            contribute to the well-being of individuals in need.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="/portfolio">Local Business Support</a></h4>
          <p class="description">Empower your local business with our comprehensive support services. From supply chain
            management to community engagement initiatives, we're committed to fostering growth and success for
            businesses within our community.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
{% endblock %}